body {
    font-family: Verdana;
    margin: 0;
  }
  
  .header {
    background-color:azure;
    height: 80px;
  }
  
  
  .main {
  background-color: whitesmoke;
  height: 600px;
  }
  
  .footer {
    background-color: darkslategray;
    height: 270px;
  }
  
  .body {
    background-color: darkslategrey;
  }

  .header-logo {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifa sans;
      font-size: 30px;
      margin:20px;
      text-align: center;
  }

  .top-wrapper {
      padding: 180px 100px;
      background-image:url(bts-boys-sitting-on-wall-hd-wallpaper-2651061595863106.jpg);
      background-size: cover;
  }

  .heading {
      padding: 30px 60px;    
    
  }

  .lesson {
      float: left;
      width: 25%;
  }
  
  .lesson-icon {
      text-align: center;
      position: relative;
  }
  
  .massage-wrapper{
      border-bottom: 5px;
      text-align: center;
      background-color:azure;
      opacity: 0.8px;

  }
